apiVersion: apps/v1
kind: Deployment
metadata:
  name: fa-projekt-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
        pod: fa-projekt-label
  template:
    metadata:
      labels:
        pod: fa-projekt-label
    spec:
      containers:
      - name: fa-projekt-container
        image: pumec/fa-wac-fe:1.0.0-33
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 80
        resources:
            requests:
                memory: "32M"
                cpu: "0.1"
            limits:
                memory: "320M"
                cpu: "0.3"
